@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}

h1, h2, h3, p, span{
    font-family: 'Roboto', sans-serif;
}